<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


<style>
    div{
	text-align: center; 
	background-color: #fff;
	border-radius: 20px;
	width: 300px;
	height: 350px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
</style>
    <h1 style="text-align:center">Hi, lease enter the address and search for the nearest stop</h1>
    <hr>
<div >
<form action="nearest" method="post">
  <p>place name: <input type="text" name="place_name" /></p>
  <input type="submit" value="search" />
</form>
</div>

</body>
</html>